<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">

    <menu>
        <add id="Codilar_CoffeeClub::subs"
             title="Codilar Subscription"
             module="Codilar_CoffeeClub"
             sortOrder="90"
             resource="Codilar_CoffeeClub::subs"
             action="Codilar_subs/subs/index"/>
    </menu>
</config>
